body {

}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container {
    position: absolute;
    top: 10%;
    left: 50%;
     width: 300px;
   box-shadow: 5px 5px 5px 5px  gray;
    border: 0;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    

}
.inputs h1 {
    color: red;
    text-align: center;
}
.inputs h3 {
    color: darkred;
    text-align: center;
}
.inputs button {
    padding: 10px;
    margin: 20px;
    color: white;
    background-color: red;
    border: 0;
    border-radius: 5px;
    width: 250px;
}
.inputs2 input{
   width: 80%;
}
.inputs2 label {
    
}

